body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #42EE5E;
    color: #000;
    width: 100%;
    height: 100%;
}

main {
    width: 89.63vw;
    height: 79.4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start
}

span#principaisBtn {
    width: 45.15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a#novoEmprestimoBtn, span#cadastrosBtn {
    width: 100%;
    height: 37.03vh;
}

a#novoEmprestimoBtn {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

span#cadastrosBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a#cadastroLivroBtn, a#cadastroAlunoBtn {
    width: 20.83vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

span#mostraEmprestimosBtn {
    width: 40.26vw;
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn {
    background-color: #fff;
    border-radius: 7.5px;
    text-decoration: none;
    color: #000;
}

